# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
x64/
*.bak
assembly.asmt

build/
build-asan/
build-exe-asan/
build-debug/
cmake-build-debug/
.idea
*.7z
LibreSpace/
*.FCBak
BungeeOrig/
*.csv#
temp/
*.mp4
/testapp/draggingBackhoe.log
/testapp/runPreDragBackhoe.asmt
.agents/
